<div class="row">
  <div class="col-12 col-sm-8 col-md-8">
    <div class="card">
      <div class="card-header">Review Form </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label>stars</label>
            <select class="form-control" id="stars">
            </select>
          </div>
          <div class="form-group">
            <label>author</label>
            <input type="email" class="form-control" id="author" />
          </div>
          <div class="form-group">
            <label>body</label>
            <textarea class="form-control" id="body"></textarea>
          </div>
          <button class="btn btn-primary">submit</button>
          <button class="btn btn-danger" type="button">cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>