<div class="row">
  <div class="col-3 col-sm-3 col-md-3">
    <img [src]="product.image" class="img-fluid" />
  </div>
  <div class="col-9 col-sm-9 col-md-9">
    <span class="badge badge-dark">{{idx+1}}</span>
    <h5>{{product.name|uppercase}} - <small>{{product.makeDate|date:'yyyy'}}</small></h5>
    <h6>{{product.price|priceDiscount:product.discount|currency:'INR':'symbol'}}</h6>
    <button (click)="handleBuy()" *ngIf="product.canBuy?product.canBuy:true" class="btn btn-sm btn-primary">buy</button>
    <hr/>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="currentTab===1" (click)="changeTab(1,$event)">Description</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{'nav-link':true,active:currentTab===2}" (click)="changeTab(2,$event)">Specification</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{'nav-link':true,active:currentTab===3}" (click)="changeTab(3,$event)">Reviews</a>
      </li>
    </ul>
    <div *ngIf="currentTab===1">{{product.description}}</div>
    <div *ngIf="currentTab===2">Not Yet</div>
    <div *ngIf="currentTab===3">
      <div *ngFor="let review of reviews">
        <app-review [review]="review"></app-review>
      </div>
      <hr/>
      <app-review-form (onNewReview)="addNewReview($event)"></app-review-form>
    </div>
  </div>
</div>
<pre>
  <!-- {{product|json}} -->
</pre>