<div class="container">
  <hr/>
  <h1>NG component : life-cycle</h1>
  <hr/>

  <button class="btn btn-primary" (click)="changeMessage('good morning')">GM</button>
  <button class="btn btn-primary" (click)="changeMessage('good noon')">GN</button>
  <button class="btn btn-primary" (click)="changeMessage('good evening')">GE</button>
  <button class="btn btn-danger" (click)="changeMessage('')">Remove Message</button>
  <hr/>
  <app-greeting *ngIf="message" [message]="message"></app-greeting>

</div>